<div class="background">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>
<app-modal *ngIf="openModal" (cancelModal)="cancelModal()" (close)="modalActions($event)" [open]="openModal" [titles]="dataTitle" [data]="dataModal"></app-modal>
<div class="header">
  <app-loader *ngIf="turn" [value]='turn.Felicidad'></app-loader>
  <app-event-notification *ngIf="show && eventMicro" [msg]="eventMicro.Descripcion" [type]="'simple'" (close)="close($event)" ></app-event-notification>
  <app-button [ob]="portfolioBtn" (pressed)="openModalFun($event)"></app-button>
  <!-- <app-digits-show [name]="'Ingresos Mensuales'" [number]="turn.Ingresos"></app-digits-show> -->
  <app-digits-show *ngIf="turn" [name]="'Ingresos Mensuales'" [number]="turn.Ingresos"></app-digits-show>
  <app-digits-show *ngIf="turn" [name]="'Egresos Mensuales'" [number]="turn.Egresos"></app-digits-show>
  <app-digits-show *ngIf="turn" [name]="'Saldo actual'" [number]="turn.DineroEfectivo"></app-digits-show>
  <app-button [ob]="endTurn" (pressed)="closeGame()"></app-button>
</div>

<div class="cards" *ngIf="activeCards">
  <flip-card *ngIf="cardInv" (selected)="blockOthers('inv')">
    <flip-card-front>
      <div class="title">
        <h2>Inversión</h2>
      </div>
      <div class="emblem">
        <img src="assets/investment.png" alt="">
      </div>
    </flip-card-front>
    <flip-card-back>
      <div class="title">
        <h2>Inversión</h2>
      </div>
      <div class="questions">
        <div *ngFor="let q of questionsInv" class="option" (click)="openModalCard(q)">
          <p class="concat">{{q.Descripcion}}</p>
        </div>
      </div>
    </flip-card-back>
  </flip-card>

  <flip-card *ngIf="cardFun" (selected)="blockOthers('fun')">
    <flip-card-front>
      <div class="title">
        <h2>Diversión</h2>
      </div>
      <div class="emblem">
        <img src="assets/fun.png" alt="">
      </div>
    </flip-card-front>
    <flip-card-back>
      <div class="title">
        <h2>Diversión</h2>
      </div>
      <div class="questions">
        <div *ngFor="let q of questionsFun" class="option" (click)="openModalCard(q)">
          <p class="concat">{{q.Descripcion}}</p>
        </div>
      </div>
    </flip-card-back>
  </flip-card>

  <flip-card *ngIf="cardGoods" (selected)="blockOthers('goods')">
    <flip-card-front>
      <div class="title">
        <h2>Bienes personales</h2>
      </div>
      <div class="emblem">
        <img src="assets/goods.png" alt="">
      </div>
    </flip-card-front>
    <flip-card-back>
      <div class="title">
        <h2>Bienes personales</h2>
      </div>
      <div class="questions">
        <div *ngFor="let q of questionsGoods" class="option" (click)="openModalCard(q)">
          <p class="concat">{{q.Descripcion}}</p>
        </div>
      </div>
    </flip-card-back>
  </flip-card>

  <flip-card *ngIf="cardWork" (selected)="blockOthers('work')">
    <flip-card-front>
      <div class="title">
        <h2>Laborales</h2>
      </div>
      <div class="emblem">
        <img src="assets/work.png" alt="">
      </div>
    </flip-card-front>
    <flip-card-back>
      <div class="title">
        <h2>Laborales</h2>
      </div>
      <div class="questions">
        <div *ngFor="let q of questionsWork" class="option" (click)="openModalCard(q)">
          <p class="concat">{{q.Descripcion}}</p>
        </div>
      </div>
    </flip-card-back>
  </flip-card>
</div>

<div class="buttons">
  <div class="btn-left">
    <app-button [ob]="newLoanBtn" (pressed)="openModalFun($event)"></app-button>
    <app-button [ob]="newActionsBtn" (pressed)="openModalFun($event)"></app-button>
  </div>
  <app-box (act)="resetCards($event)"></app-box>
  <div class="btn-right">
    <app-button [ob]="myLoansBtn" (pressed)="openModalFun($event)"></app-button>
    <app-button [ob]="myActionsBtn" (pressed)="openModalFun($event)"></app-button>
  </div>
</div>
<app-event-banner *ngIf="eventMacro" [msg]="eventMacro.Descripcion"></app-event-banner>
