<div class="body" [ngClass]="{'modal-active': open}">
    <div id="modal-container" [ngClass]="{'effect': open, 'out': !open}">
        <div class="modal-background">
            <div class="modal">
                <div class="content">
                    <div class="modal-body"> 
                        <div class="wrap">
                      
                          <ul class="tabs group">
                            <li *ngFor="let title of titles"><a [ngClass]="{'active': title.active}" (click)="changeTab(title)" class="title">{{title.name}}</a></li>
                          </ul>
                          
                          <div id="content"> <!-- TODO: NgFor-->
                            <div class="wave -one"></div>
                            <div class="wave -two"></div>
                            <div class="wave -three"></div>
                            <ng-container [ngSwitch]="activeSwitch.internalName">
                              <ng-container *ngSwitchCase="'portfolio'">
                                <ng-container *ngTemplateOutlet="portfolio"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'newActions'">
                                <ng-container *ngTemplateOutlet="newActions"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'newLoan'">
                                <ng-container *ngTemplateOutlet="newLoan"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'myActions'">
                                <ng-container *ngTemplateOutlet="myActions"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'myLoans'">
                                <ng-container *ngTemplateOutlet="myLoans"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'questions'">
                                <ng-container *ngTemplateOutlet="questions"></ng-container>
                              </ng-container>
                            </ng-container>
                            <div class="controls">
                              <p id="accept" (click)="cancelModalFunc()">Cancelar</p>
                              <p id="accept" (click)="closeModal()">Aceptar</p>
                            </div>
                          </div>
                    
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #portfolio>
  <div class="portfolio">
    <div class="side">
      <div class="title">Ingresos</div>
      <div class="aa_htmlTable">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Periodo</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data.Ingresos">
              <td>{{d.Nombre}}</td>
              <td>{{d.Periodo}}</td>
              <td>{{d.Cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="side">
      <div class="title">Egresos</div>
      <div class="aa_htmlTable">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Periodo</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data.Egresos">
              <td>{{d.Nombre}}</td>
              <td>{{d.Periodo}}</td>
              <td>{{d.Cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</ng-template>
<ng-template #newActions>
  <ng-container *ngIf="activeSwitch.position === 0">
    <p>Nuevas accions pagina 1</p>
  </ng-container>
  <ng-container *ngIf="activeSwitch.position === 1">
    <p>Nuevas accions pagina 2</p>
  </ng-container>
</ng-template>

<ng-template #newLoan>
  <div class="text">
    <p>Nuevo Préstamos</p>
  </div>
</ng-template>

<ng-template #myActions>
  <div class="text">
    <p>Mis Acciones </p>
  </div>
</ng-template>

<ng-template #myLoans>
  <div class="text">
    <p>Mis Acciones </p>
  </div>
</ng-template>

<ng-template #questions>
  <div class="text">
    <p>{{data[0].Descripcion}}</p>
  </div>
</ng-template>

